body {
  margin: 0;
  padding: 0;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  color: black;
  text-decoration: none;
}
.button {
  display: inline-block;
  padding: 18px 40px;
  background-color: #FFCA38;
  font-family: "SF Compact";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #AD7200;
  border-radius: 28px;
}
.download-button {
  border: 1px solid white;
  border-radius: 18px;
  padding: 7px 37px;
}
@font-face {
  font-family: "SF Compact";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/sf-compact-display-medium.woff2") format("woff2"), url("../fonts/sf-compact-display-medium.woff") format("woff");
}
@font-face {
  font-family: "Lato";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
}
@font-face {
  font-family: "Lucida Grande";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/LucidaGrande.woff2") format("woff2"), url("../fonts/LucidaGrande.woff") format("woff");
}
.page-inner {
  font-family: "SF Compact";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
}
.page-inner__wrapper-top {
  background-image: url('../img/page-inner/gradient-top.svg');
  background-repeat: no-repeat;
  background-size: 100% 867px;
  background-position-y: -1px;
}
.page-inner__wrapper-bottom {
  background: url("../img/page-inner/page-inner__wrapper-bottom--1.svg") top no-repeat, url("../img/page-inner/page-inner__wrapper-bottom--2.svg") bottom no-repeat;
  /* background-repeat: no-repeat;
    background-position: top;
    */
  background-size: 100% 794px, 100% 591px;
}
.header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 120px;
  height: 90px;
}
.main-nav {
  flex-grow: 1;
}
.main-nav__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}
.main-nav__item {
  margin-left: 50px;
}
.main-nav__link {
  color: white;
}
.intro {
  background-image: url("../img/intro/Phone_mockup_1.png");
  background-repeat: no-repeat;
  background-position: 80% 10px;
}
.intro__wrapper {
  padding: 0 120px;
}
.preview {
  padding-top: 90px;
  padding-left: 178px;
  min-height: 735px;
}
.preview__collaboration {
  position: relative;
  display: inline-block;
  font-family: "SF Compact";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 1.4px;
  color: #65CCB7;
  padding-bottom: 10px;
  margin-bottom: 55px;
}
.preview__collaboration::after {
  content: '';
  display: block;
  position: absolute;
  width: calc(100% + 10px);
  height: 10px;
  border-bottom: 1px solid #65CCB7;
}
.preview__title {
  margin: 0 0 60px;
  display: block;
  max-width: 500px;
  font-family: "SF Compact";
  font-style: normal;
  font-weight: 500;
  font-size: 37px;
  line-height: 56px;
  color: white;
}
.about {
  min-height: 388px;
  background-image: url("../img/about/Spotify.svg");
  background-repeat: no-repeat;
  background-position: center 248px;
}
.about__title {
  margin: 0 0 35px;
  font-family: "SF Compact";
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 45px;
  text-align: center;
}
.about__content {
  display: block;
  margin: 0 auto;
  font-family: "SF Compact";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 46px;
  text-align: center;
  width: calc(100% - 120*2px);
}
.service {
  background-image: url("../img/service/service__photo.jpg");
  background-repeat: no-repeat;
  background-position: right top;
}
.service__wrapper {
  padding: 100px 120px 0;
  min-height: 526px;
  background-image: url("../img/service/service__background.svg");
  background-repeat: no-repeat;
  background-size: calc(100% - 842px) 526px;
}
.service__about {
  position: relative;
  display: inline-block;
  font-family: "SF Compact";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1.225px;
  color: #65CCB7;
}
.service__about::after {
  content: "";
  position: absolute;
  display: block;
  width: calc(100% + 7px);
  height: 7px;
  border-bottom: 1px solid #65CCB7;
}
.service__title {
  margin: 36px 0 30px;
  width: 270px;
  font-family: "SF Compact";
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 45px;
  color: white;
}
.service__description {
  margin: 0 0 40px;
  width: 380px;
  font-family: "SF Compact";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: white;
}
.features__wrapper {
  padding: 0 225px;
  min-height: 592px;
}
.features__title {
  margin: 0;
  font-family: "SF Compact";
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 45px;
  text-align: center;
}
.features__description {
  margin: 10px 0 70px;
  font-family: "SF Compact";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #969696;
}
.features__list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.features-item {
  padding-top: 140px;
  width: 272px;
  text-align: center;
}
.features-item--design {
  background-image: url("../img/features-item/features-item--design.svg");
  background-repeat: no-repeat;
  background-position: top center;
}
.features-item--speed {
  background-image: url("../img/features-item/features-item--speed.svg");
  background-repeat: no-repeat;
  background-position: top center;
}
.features-item--support {
  background-image: url("../img/features-item/features-item--support.svg");
  background-repeat: no-repeat;
  background-position: top center;
}
.features-item__caption {
  display: inline-block;
  font-family: "SF Compact";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1.225px;
  color: #65CCB7;
  margin-bottom: 22px;
}
.features-item__caption::after {
  content: "";
  display: block;
  margin: auto;
  height: 10px;
  width: 65px;
  border-bottom: 1px solid #65CCB7;
}
.features-item__title {
  margin: 0 0 20px;
  text-align: center;
  font-family: "SF Compact";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
}
.features-item__description {
  margin: 0 0 32px;
  display: block;
  text-align: center;
  font-family: "SF Compact";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #969696;
}
.features-item__more-link {
  display: flex;
  padding-left: 68px;
  background-image: url("../img/features-item/features-item__more-link.svg");
  background-repeat: no-repeat;
  background-position-x: 180px;
}
.features-item__more-text {
  display: block;
  margin: 0;
  font-family: "SF Compact";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #5A67FF;
}
.reviews {
  min-height: 615px;
  padding-top: 185px;
}
.reviews__avatar-list {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}
.reviews__avatar {
  align-self: center;
  margin: 0 25px;
}
.reviews__rating {
  text-align: center;
  margin-bottom: 30px;
}
.reviews__rating-stars {
  margin: 0 2px;
}
.reviews__comment {
  display: block;
  max-width: 950px;
  margin: 0 auto;
  font-family: "SF Compact";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: white;
}
.reviews__author {
  font-family: "SF Compact";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: white;
}
.screenshots {
  position: relative;
  padding: 195px 0 0 620px;
  min-height: 550px;
}
.screenshots__slider-container {
  position: absolute;
  height: 640px;
  width: 317px;
  background-image: url("../img/screenshots/phone.png");
  background-repeat: no-repeat;
  top: 50px;
  left: 222px;
  overflow: hidden;
}
.screenshots__slider-track {
  display: flex;
  background-color: yellow;
  transition: 0.2s;
  height: 100%;
}
.screenshots__slider-item {
  height: 100%;
  width: 110px;
}
.screenshots__slider-item:nth-child(3n + 1) {
  background-color: red;
}
.screenshots__slider-item:nth-child(3n + 2) {
  background-color: green;
}
.screenshots__slider-item:nth-child(3n + 3) {
  background-color: blue;
}
.screenshots__slide {
  display: flex;
  position: relative;
  margin-bottom: 65px;
  padding-left: 17px;
}
.screenshots__slide::after {
  content: "";
  position: absolute;
  top: 30px;
  display: block;
  width: 580px;
  border-bottom: 1px solid black;
  opacity: 0.1;
}
.screenshots__name {
  position: relative;
  margin-right: 110px;
  font-family: "SF Compact";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1.225px;
  color: #65CCB7;
  cursor: pointer;
}
.screenshots__name--current::after {
  content: "";
  display: block;
  position: absolute;
  border-bottom: 1px solid #65CCB7;
  width: 100px;
  height: 12px;
}
.function-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 370px;
}
.function-list__item {
  padding-left: 144px;
}
.function-list__item--synchronization {
  background-image: url("../img/screenshots/sync.svg");
  background-repeat: no-repeat;
  background-position: 0 2px;
}
.function-list__item--safe {
  background-image: url("../img/screenshots/secure.svg");
  background-repeat: no-repeat;
  background-position: 0 2px;
}
.function-list__item--notification {
  background-image: url("../img/screenshots/notifications.svg");
  background-repeat: no-repeat;
  background-position: 0 2px;
}
.function-list__item-title {
  margin: 0 0 5px;
  font-family: "SF Compact";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
.function-list__item-description {
  display: block;
  width: 425px;
  font-family: "SF Compact";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #969696;
}
.download {
  padding-top: 265px;
  text-align: center;
  min-height: 595px;
  box-sizing: border-box;
}
.download__title {
  margin: 0 0 10px;
  font-family: "SF Compact";
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 45px;
  color: white;
}
.download__description {
  margin: 0 0 40px;
  font-family: "SF Compact";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: white;
}
.download__link {
  margin: 0 15px;
}
.footer__wrapper {
  background-color: #0D1138;
}
.contacts {
  text-align: center;
  padding-top: 68px;
  min-height: 266px;
  box-sizing: border-box;
  border-bottom: 1px solid #707070;
}
.contacts__title {
  margin: 0 0 10px;
  color: white;
  font-family: "SF Compact";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
}
.contacts__data {
  margin: 0 auto;
  display: flex;
  width: 388px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contacts__adress-icon {
  margin-right: 12px;
  align-self: baseline;
}
.contacts__adress {
  color: white;
  font-family: "SF Compact";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 20px;
  align-self: baseline;
}
.contacts__tel-icon {
  margin-right: 10px;
  align-self: baseline;
}
.contacts__tel {
  color: white;
  font-family: "SF Compact";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  align-self: baseline;
}
.contacts__mail-icon {
  margin-right: 10px;
  align-self: baseline;
}
.contacts__mail {
  color: white;
  font-family: "SF Compact";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  align-self: baseline;
}
.copyright {
  display: flex;
  min-height: 106px;
  margin: 0 120px;
  justify-content: space-between;
}
.copyright__text {
  padding: 6px 0 0 42px;
  font-family: "SF Compact";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.copyright__icon-list {
  display: flex;
  justify-content: space-between;
  width: 207px;
  align-items: center;
}
.copyright__icon-item {
  height: 25px;
  align-self: center;
}
.copyright__icon-item--facebook {
  width: 12.5px;
  background-image: url("../img/footer/social-media-facebook.svg");
  background-repeat: no-repeat;
  margin-bottom: -8px;
}
.copyright__icon-item--youtube {
  background-image: url("../img/footer/social-video-youtube-clip.svg");
  background-repeat: no-repeat;
  width: 23px;
  margin-bottom: -16px;
}
.copyright__icon-item--twitter {
  background-image: url("../img/footer/social-media-twitter.svg");
  background-repeat: no-repeat;
  width: 22px;
  margin-bottom: -15px;
}
.copyright__icon-item--instagram {
  background-image: url("../img/footer/social-instagram.svg");
  background-repeat: no-repeat;
  width: 24px;
  margin-bottom: -5px;
}

/*# sourceMappingURL=style.css.map */
